/* media queries */
media-sm-width = 35.5em /* 568px */
media-md-width = 48em /* 768px */
media-lg-width = 64em /* 1024px */
media-xl-width = 80em /* 1280px */
media-xxl-width = 90em /* 1440px */

/* colors */
//background-color = #eee
//border-color = #eee
//white-color = #fff
//dark-gray-color = #777
//font-color = #26344C
//gray-color = #ccc
//menu-item-hover-color = #eee
//primary-color = #0078e7

/* borders */

/* sizes */
